/*Media Query Points
905px - manage the side bar: Infact change the sideBar to a hamburger Icon 
After creating the whole layout : Create the collapse button feature also
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

aside {
  /* display: none; */
  border: 2px solid black;
  width: 14%;
  height: 100vh;
  position: fixed;
  /* text-align: center; */
  background-color: #001f3f;
  color: rgb(235, 214, 214);
  overflow: hidden;
}

li {
  display: block;
  width: 100%;
}

li a {
  display: flex;
  width: 100%;
  padding: 20px;
  color: rgb(241, 237, 237);
  text-decoration: none;
  font-size: 15px;
  background-color: #001f3f;
  border: none;
  justify-content: center;
}
li button {
  display: flex;
  width: 100%;
  padding: 20px;
  color: rgb(241, 237, 237);
  text-decoration: none;
  font-size: 15px;
  background-color: #001f3f;
  border: none;
  justify-content: center;
}

li:hover {
  border-left: 15px solid white;
}

li a:hover{
  cursor: pointer;
}
li button:hover{
  cursor: pointer;
}

#main-body {
  border: 2px solid black;
  display: inline-block;
  position: absolute;
  left: 14%;
  width: 86%;
  height: 100vh;
}

iframe{
  /* position: absolute; */
  /* opacity: 0; */
  width: 100%;
  height: 100%;
}

a i{
  width: 14%;
}
button i{
  width: 20%;
}

span{
  text-align: start;
  width: 70%;
}