*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Baloo Da 2', cursive;
}

html{
    height: 100%;
}
body{
    height: 100%;
}
.parent{
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    height: auto;
}

#header{
    font-size: 4vh;
    color:#001f3f;
    font-weight: bold;
    top: 10vh;
    
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid #001f3f;
    min-width: 20%;
    height: 40vh;
    margin: 5px;
    border-radius: 50%;
    background-color: #DDDDDD;
}

.items h6{
    padding: 2vh;
    font-size: 20px;
    color:#001f3f;
}

.items i{
    font-size: 80px;
    padding: 5px;
}

.items p{
    font-size: 15px;
    padding: 5px;
}

.items:hover{
    background-color:#01FF70;
    border: 15px solid #001f3f;
}